h1
{
    color: #fff;
    background-color: #2F4F4F;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width:;
    font-family: Verdana;
border-style: 1px;
border-radius: 6px;
}
Body
{
background-color:black
}
table
{
width: 30%;
border-style: 3px groove;
margin-left:auto ;
margin-right: auto;
border-spacing: 5px;
border-radius:6px ;
color:white;
}
#Submit
{
    color: #FFEFD5;
    font:bold;
    background-color: transparent;
    border-radius: 6PX;
}
